@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "My Cart";
    Layout = "_Layout";
}

@{
    var products = HttpContextAccessor.HttpContext?.Session.GetString("SessionProducts") == null ? new List<Product>()
        : JsonConvert.DeserializeObject<List<Product>>(HttpContextAccessor.HttpContext.Session.GetString("SessionProducts"));

    decimal totalAmount = 0;
}

<h3 class="text-center">
    My Cart
</h3>
<hr />
<div>
    <a class="btn btn-outline-info" asp-area="Customer"
       asp-controller="Home" asp-action="Index">
        <i class="fas fa-arrow-left"> </i>
        &nbsp; Back to Home
    </a>
</div>

<br />


<table class="table text-center" id="productTable">
    <thead class="table-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Color</th>
            <th scope="col">Category</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in products)
        {

            <tr>
                <td>
                    @{
                        var imageName = string.IsNullOrWhiteSpace(item.Image) ? "No-Image-Available.png" : item.Image;
                        totalAmount += item.Price;
                    }

                    <img src="~/images/@imageName" class="img-thumbnail" height="100" width="100" alt="Product Image">
                </td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Color</td>

                <td>@item.Category.Category</td>

                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-outline-danger" asp-route-Id="@item.Id" 
                                title="Remove from Cart">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
        
    @{ var isCartEmpty = products.Count > 0 ? "" : "disabled";}

    <tr class="text-left">
        <td colspan="6">
            <div>
                Grand Total : @totalAmount
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-info @isCartEmpty"
                        title="Checkout">
                    Proceed to Checkout
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </div>
        </td>
    </tr>

    </tbody>
</table>